<h1>carmen-rails demo</h1>

<%= render 'form' %>

<form method="get">
  <h2>Change the locale</h2>
  <p>This will reload the page. This is for demonstration of Carmen's locale
     functionalityi only .</p>
  <%= select_tag 'locale', options_for_select(Carmen.i18n_backend.available_locales, I18n.locale) -%>
</form>
