<!DOCTYPE html>
<html>
<head>
  <title>CarmenTestApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="demo-info">
    <p>This is a demo app that demonstrates how to use <code>
      <a href="http://github.com/jim/carmen-rails">carmen-rails</a>
    </code> to
    build a form with country and subregion selects in Rails.
    <a href="http://github.com/jim/carmen-demo-app" rel="more-info">More Info...</a>
    </p>
  </div>
<%= yield %>

</body>
</html>
